{% extends '_base.html' %}
{% load static %}
{% block content %}

<div class="container  shadow-sm p-4" style="height: 750px;">
    <div class="row justify-content-center align-items-center text-center mt-4">
        <div class="col-md-8">
            <h5 class="display-5">
                What do you want to do?
            </h5>
        </div>
    </div>
    <br>
    <br>

    <div class="row justify-content-center align-items-center text-center mt-4">
        <div class="col-md-4 text-center mb-4">
            <a class="card shadow-lg text-center text-decoration-none" href="{% url 'services:scan_text' %}">
                <img class="card-img-top cimage text-center" src="{% static 'images/convert.png' %}"
                    alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">
                        Scan Text
                    </h3>
                    <hr>
                    <p class="card-text">
                        Convert Handwritten text into digital form
                    </p>
                </div>
            </a>
        </div>
        <div class="col-md-4 text-center mb-4">
            <a class="card shadow-lg text-center text-decoration-none" href="{% url 'services:translateText' %}">
                <img class="card-img-top cimage text-center" src="{% static 'images/translate.png' %}"
                    alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">
                        Translate Text
                    </h3>
                    <hr>
                    <p class="card-text">
                        Copy and paste text to Translate
                    </p>
                </div>
            </a>
        </div>
        <div class="col-md-4 text-center mb-4">
            <a class="card shadow-lg text-center text-decoration-none" href="#">
                <img class="card-img-top cimage text-center" src="{% static 'images/history.png' %}"
                    alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">
                        Historry
                    </h3>
                    <hr>
                    <p class="card-text">
                        check your history
                    </p>
                </div>
            </a>
        </div>
    </div>

</div>
{% endblock %}